.form{
    background-color: rgba(127, 255, 212, 0.171);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    gap: .65rem;
    border: 4px solid white;
    border-radius: 10px;
    padding: 30px; 
    
}
.formtittle{
    background-color: rgba(127, 255, 212, 0.692);
    border-radius: 10px ;
    border: 3px solid rgba(255, 255, 255, 0.664);
    align-items: center;
    padding: 20px;
}
.create{
    background-color: rgba(127, 255, 212, 0.548);
    margin-top: 5%;

}
.formu{
    background-color: rgba(127, 255, 212, 0.521);
    height: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 4px solid white;
    align-items: center;
    gap: 6px;
    display: flex;
    
}
.select{
    padding: 8px;
    background-color: rgba(127, 255, 212, 0.616);
    margin-top: 5%;
    border: 4px solid white;
    border-radius: 10px;
}