.conteiner{
    color:rgb(18, 17, 19);
    border: 1px solid red;
    border-top:3px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    display: flex;
    
    
}