.main{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 17px 50px;
    background: rgba(0, 0, 0, 0.116);
    display: flex;
    justify-content: space-between;
    gap: center;
    margin-bottom: 0%;
    background-image: url('https://img.freepik.com/premium-vector/dirty-old-world-map_1102-368.jpg');




}
.imput{
    position: relative;
    /* right: 50%; */
    width: 18rem;
    background-color:white ;
    border-radius: 0.5rem;
    border: 3px solid rgba(127, 255, 212, 0.562) ;
    font-weight: 600;
    padding: 0px 12px 0 38px;
    /* margin-left: 20px; */
    margin-right: 10px;
}
.button{
    margin-left: 10px;
    margin-right: 80px;
}